/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para a navegação no cabeçalho */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilo para as seções */
section {
    padding: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
